[submodule "rt-tacle-bench"]
	path = rt-tacle-bench
	url = https://gitlab.com/denishoornaert/rt-tacle-bench.git
[submodule "docs/conf/doxygen-awesome"]
	path = docs/conf/doxygen-awesome
	url = https://github.com/jothepro/doxygen-awesome-css
[submodule "image-filters"]
	path = image-filters
	url = https://gitlab.com/rt-bench/image-filters.git
[submodule "generator/src/dlmalloc"]
	path = generator/src/dlmalloc
	url = https://github.com/ARMmbed/dlmalloc.git
[submodule "docs/conf/doxyvers"]
	path = docs/conf/doxyvers
	url = https://github.com/root-project/doxyvers.git
